<p>
Automated microscopy technologies have amplified the volume and complexity of image data such that  biologists must rely on computer scientists for solutions and software. <a href="https://fiji.sc/">Fiji</a> provides a huge variety of advanced image analysis solutions and a friendly user interface for researchers to develop innovative, cutting-edge pipelines for biological image analysis. 
  </p>
<p>
  In this workshop, we will introduce basic concepts of image analysis and intermediate workflows using Fiji. By the end of this workshop, you will be able to automate the bulk your image analysis, making it faster, more consistent and reproducible. Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

